//background
$color-light-black: #20202099;
$color-dark-white: #fef8f8;
$color-light-yellow: #f1f1c0;
$color-white: #ffffff;

//text
$color-dark-black: #030000;
$color-black: #000;
$color-dark: #2d2d2d;
$color-dark-gray: #4b4b4b;
$color-light-gray: #e3d9d9;
$color-white: #ffffff;
$color-orangered: #e3513a;

//button
$color-orangered: #e3513a;
